.bodyh{
    background-color: #4FCA98;
}

.bodyl{
    width: 100%; 
    height: 100vh;
    background: linear-gradient(to left,black 80%, #4FCA98 20%);

}

.symbol{
    width: 400px;
    height: 100px;
}

.navbtn{
    background-color: transparent;
    font-size: 20px;
    color: white;
    border: none;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.welcome{
    color: white;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.cartoon{
    width: 500px;
    height: 500px;
}

.aboutus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.aboutuscartoon{
    height: 450px;
    width: 550px;
}

.aboutustext{
    color: white;
    font-size: 1.5rem;
}

.aboutuschild{
    width: 600px;
}

.features{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.featureschild{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    background-color: #000;
}

.featurescartoon{
    width: 360px;
    height: 300px;
}

.featurestext{
    color: #fff;
}

.featurestextp{
    color: #fff;
    font-size: 1.3rem;
}

.contacttext{
    color: white;
}

.contactus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
}

.contactuscartoon{
    height: 450px;
    width: 550px;
}

.footer {
    color: #fff;
    padding: 20px 0;
}

.footerchild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.3s ease;
}


.navdash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    height: 100vh;

}

.flexx{
    display: flex;
    justify-content: space-between;
}

