body{
    /* background-image: url('../assets/cool-background.png'); */
    background-color: black;
}

img{
  width: 250px;
  height: 200px;
}
  
h1, p, h3{
  color: rgb(51, 186, 240);
}
.authentication{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 80px;
}



.login,.logout,.signup {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid white;
    text-transform:uppercase ;
    font-size: 1.3em;
    padding: 10px 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
    transition: 0.5s;
    margin-left: 20px;
    cursor: pointer;
}

.login:hover,.logout:hover,.signup:hover{
    background-color: transparent;
    color: white;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(51, 186, 240);
    border: 2px solid rgb(51, 186, 240);
}



