.mainx-body{
    background-color: white;
    width: 70vw;
    height: 110vh;
    border-radius: 20px;
    padding: 5px;
}

.mainx-content{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mainx-table {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    border-collapse: collapse;
}

.mainx-table, .mainx-tabler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust margin as needed */
}

.mainx-table tbody, .mainx-tabler tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mainx-table tr, .mainx-tabler tr {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.mainx-table td, .mainx-tabler td {
    flex: 2;
    text-align: center;
    padding: 8px;
    /* border: 1px solid #ddd; */
}

td {
    padding: 15px;
    text-align: center;
}

td::first-letter {
    text-transform: uppercase;
}

.credit {
    color: #4FCA98;
    font-weight: bold; 
}

.debit {
    color: red;
    font-weight: bold; 
}

.recent{
    color: black;
}
.overview-main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-main div{
    width: 200px;
    display: flex;
    
}

.overview-main div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overview-section{
    min-width: 935px;
    /* border: 2px solid red; */
}

.pie-chart-container {
    display: flex;
    align-items: center;
}

.pie-chart-legend {
    margin-left: 20px; /* Adjust the value as needed */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.legend-label {
    font-size: 14px;
}
