.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(51, 186, 240);
    padding: 8px;
    text-align: left;
    color: white;
}



th {
    background-color: transparent;
}


