.register{
    width: 550px;  
    margin-left: auto;
    margin-right: auto;
}
.register div{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.register label{
    color: white;
}
.register div input{
    /* border: 2px solid red; */
    width: 400px;
    height: 50px;
}
.register div select{
    width: 400px;
    height: 50px;
    border-radius: 10px ;
    outline: none;
}
.register button{
    margin-bottom: 20px;
    cursor: pointer;
    width: 70%;
    border: none;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
    background-color: #4ea685;
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}
